/* Splashscreen */

#splashscreen-page {text-align: center;background-image:url("../images/splash.png");no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.splashscreen-logo {position: absolute;/*margin-*/top:40%;width:40%;left:30%;}
.splashscreen-smart-vilnius {bottom:3%;position: absolute;width:20%;left:40%;}

/* Home page */
.home-container {background-repeat:no-repeat;background-size: 100% auto;}
